* {
	margin: 0px;
}

#test {
	background-color: lightblue;
}

#images {
	margin-top: 20px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#quotes {
	margin-top: 20px;
	font-size: 30px;
}